.award-section {
  background-color: $secondaryColorBlack;
  text-align: center;
  color: $white;
  padding: 40px 0px 10px;
  .single-award {
    width: 200px;
    height: 150px;
    background: url(../img/green-leaves.png) no-repeat;
    margin: 30px auto 30px;
    text-align: center;
    color: $white;
    padding: 25px 25px 0;
    background-size: 100% 100%;
    font-size: 15px;
    a {
      color: $white;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
