.cta-book-section {
  padding-top: 50px;
  @include sm {
    padding-top: 0;
  }
  .book-wrap {
    position: relative;
    bottom: -30%;
    @include lg {
      bottom: -50%;
    }
    @include md {
      bottom: 0;
    }
    @include sm {
      bottom: 0;
    }
    img {
      @include md {
        max-width: 400px;
      }
    }
  }
  .cta-title {
    padding-top: 50px;
    @include sm {
      padding-top: 30px;
    }
    h2 {
      color: $primaryColorBlue;
      font-weight: 400;
      font-size: 46px;
      @include sm {
        font-size: 32px;
      }
      span {
        color: $secondaryColorNavy;
        font-weight: bold;
        display: block;
        font-size: 26px;
        @include sm {
          font-size: 20px;
        }
      }
    }
  }
  .offwhite-bg {
    padding: 30px 0px 20px;
    background-color: $offwhiteColor;
  }
  .download-form {
    label {
      margin-bottom: 5px;
    }
    .form-control {
      border: 1px solid lighten($secondaryColorBlack, 40);
      padding: 25px 15px;
    }
  }
  &.colored{
    background-color: $primaryColorBlue;
    .cta-title {
      color: $white;
      h2 {
        color: lighten($primaryColorYellow, 10);
        span {
          color: $white;
        }
      }
    }
  }
}
