.notready-section{
  background-image: url(../img/start-here-section-six-back.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 20px;
  border-bottom: 1px solid $offwhiteColor;
}